.footer__container {
  color: white;
  padding: 5rem 3rem;
  width: clamp(300px, 100%, 2040px);
  margin-inline: auto;
}

.contact-list {
  display: flex;
  gap: 3rem;
}

.footer__container h2 {
  font-weight: 100;
  margin-block: 0 0.5rem;
}

.contact-us {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.img-container {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.img-container img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.links-container {
  margin-top: 2rem;
  text-align: center;
}

.buttons-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.socials-container {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.social-icon:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition-duration: 100ms;
}

.copyright-message {
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .contact-list {
    flex-direction: column;
  }
}

@media only screen and (max-width: 750px) {
  .footer__container {
    padding: 5rem 1rem;
  }

   .contact-list {
    gap: 1rem;
  }
}

@media only screen and (max-width: 500px) {
    .buttons-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
  .footer__container h2 {
    font-size: 1.3rem;
  }
  .contact-us {
    gap: 0.5rem;
  }
  .img-container {
    height: 250px;
    width: 250px;
  }
}
