/* EraContainer.tsx */

.era-hero {
  width: clamp(300px, 100%, 2040px);
  margin-inline: auto;
  /* border: 5px solid blue; */
  position: relative;
}

.hero-overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

.era-hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.title-desc-album-photo {
  width: 100%;
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  padding: 10rem 3rem;
  position: relative;
  z-index: 5;
}

.title-desc {
  max-width: 800px;
  text-align: center;
  /* margin-inline: auto; */
}

.title-desc p {
  letter-spacing: 0.2rem;
  text-align: start;
  line-height: 2rem;
  margin-block-end: 0px;
  font-size: 1rem;
}

.album-photo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.album-photo img {
  border-radius: var(--border-radius);
  width: 560px;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.the-anthology {
  width: 560px;
}

@media only screen and (max-width: 1400px) {
  .title-desc-album-photo {
    flex-direction: column;
    gap: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .title-desc-album-photo {
    padding-inline: 0;
  }
  .title-desc-album-photo p {
    padding-inline: 1rem;
  }

  .the-anthology,
  .title-desc img,
  .album-photo img {
    width: 450px;
  }
}

@media only screen and (max-width: 500px) {
  .the-anthology,
  .title-desc img,
  .album-photo img {
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .the-anthology,
  .title-desc img,
  .album-photo img {
    width: 300px;
  }

  .era-container {
    width: max(300px, 100%);
  }
}

/* Button.tsx */

button {
  padding-inline: 3rem;
  border-radius: 15px;
  border: 2px solid;
  transition: background-color 200ms ease-in-out;
}

button p {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: color 200ms ease-in-out;
}

@media only screen and (max-width: 400px) {
  button {
    padding-inline: 1.5rem;
  }
  button p {
    font-size: 1rem;
  }
}

/* Tracks.tsx */

.tracks__container {
  width: clamp(300px, 100%, 2040px);
  margin-inline: auto;
  padding: var(--container-padding);
  border: 5px solid white;
}

.tracks__container h1 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.tracks__container h2 {
  font-family: RalphieTall;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-block: 2.5rem 1rem;
}

.tracklist-h2 {
  border: 5px solid blue;
}

.tracklist {
  border: 5px solid red;
  position: relative;
  height: 100vh;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 2rem; */
}

.track-info-square {
  border: 2px solid blue;
  position: absolute;
  width: 290px;
  height: 120px;
  /* transition: width 0.5s ease-in-out, height 0.5s ease-in-out; */
  transition: 0.5s ease-in-out;
  
  padding: 0.5rem;
}

.track-info {
  border: 1px solid pink;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  
}

.track-info-square:hover {
  cursor: pointer;
}

.track-info-square.expand {
  width: 580px;
  height: 360px;
}

/* 
.album-vault {
  display: flex;
  gap: 2rem;
}

.tracklist,
.bonus-tracklist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.tracklist {
  height: max(600px, 80vh);
}

.tracklist p,
.bonus-tracklist p {
  margin-block: 0;
}

.track-info {
  padding: 0.5rem;
  width: 280px;
}

.track-info:hover {
  cursor: pointer;
}

.iframe-bonus {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.iframe-bonus .track-info {
  padding: 0.5rem;
  width: 100%;
} */

/* @media only screen and (max-width: 1550px) {
  .tracks__container {
    flex-direction: column;
  }
} */

@media only screen and (max-width: 750px) {
  .tracks__container {
    padding: 1rem;
  }
}

/* Carousel.tsx */

.carousel__container {
  width: 100%;
  overflow: hidden;
  padding: 2rem 3rem;
  position: relative;
}

.carousel__container img {
  height: 250px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.carousel__container .img-border-black:hover {
  border: 2px solid black;
}

.carousel__container .img-border-white:hover {
  border: 2px solid white;
}

.left-arrow,
.right-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 50px;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.left-arrow:hover,
.right-arrow:hover {
  cursor: pointer;
  background-color: rgba(104, 104, 104, 0.238);
}

.images-wrapper {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
}

@media only screen and (max-width: 450px) {
  .carousel__container {
    width: max(300px, 100%);
  }
}

/* Modal.tsx */

.modal__container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* min-height: 800px; */
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container .img-container {
  /* make sure to set a value to height so that the CONTAINER scales as the screen is resized vertically */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__container p {
  border-radius: 15px;
  padding: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  /* align-self: center; */
  margin-block: 0;
  align-self: flex-end;
}

.modal__container p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal__container img {
  /* set both properties to 100% so the IMG scales accordingly as screen is resized whether horizontally or vertically */
  max-width: 100%;
  max-height: 100%;
  /* setting width and height to 100% will cause the img to stretch and not be properly scaled as it will always occupy the full space of the parent */
  /* setting max-width and max-height to 100% instead ensures that the height and width of the image will always follow the height and width of the parent, respectively, while the resizing of the image is properly scaled since the values set to max-width and max-height are not the absolute width and height of the image; they are just the max. */
}

/* Lyrics.tsx */

.quote__container {
  width: clamp(300px, 100%, 2040px);
  margin-inline: auto;
  padding: var(--container-padding);
  margin-top: 1rem;
  /* border: 5px solid red; */
}

.lyrics__container {
  position: relative;
  margin-inline: auto;
  /* this padding is important so the quotation marks do not exceed the universal padding */
  padding-inline: 3rem;
  /* border: 5px solid red; */
}

.lyrics__container::before {
  content: "“";
  position: absolute;
  top: -30px;
  left: 5px;
  font-size: 5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.lyrics__container::after {
  content: "„";
  position: absolute;
  bottom: -30px;
  right: 5px;
  font-size: 5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.lyrics__container h1 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 0.3rem;
}

.cite-container {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.cite-container cite {
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (max-width: 750px) {
  .quote__container {
    padding: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .lyrics__container h1 {
    font-size: 1.5rem;
  }

  .cite-container cite {
    font-size: 1rem;
  }
}
