/* EraContainer.tsx */

.era-container-padding {
  width: clamp(300px, 100%, 2040px);
  margin-inline: auto;
  padding: var(--container-padding);
}

.era-container-padding h1 {
  font-size: 2rem;
}

.era-container-padding p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

@media only screen and (max-width: 750px) {
  .era-container-padding {
    padding: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .era-container {
    width: max(300px, 100%);
  }

  .era-container-padding {
    padding: 0;
  }
}

/* Button.tsx */

button {
  padding-inline: 3rem;
  border-radius: 15px;
  border: 2px solid;
  transition: background-color 200ms ease-in-out;
}

button p {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: color 200ms ease-in-out;
}

@media only screen and (max-width: 400px) {
  button {
    padding-inline: 1.5rem;
  }
  button p {
    font-size: 1rem;
  }
}

/* Title.tsx */

.title__container {
  text-align: center;
}

.title__container h1 {
  /* margin: 0;
  padding: 0; */
  font-weight: 500;
  font-size: 4rem;
  color: white;
  font-family: RalphieTall;
  letter-spacing: 0.3rem;
}

@media only screen and (max-width: 470px) {
  .title__container h1 {
    font-size: 3rem;
  }
}
