.terms__container {
  padding: 3rem 0;
}

.terms__eras-tv-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.terms__eras-tv-container h1 {
  margin: 0;
}

.terms__eras-container,
.terms__tv-container {
  text-align: start;
  padding: 3rem;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.terms__eras-vid-container {
  display: flex;
  gap: 2rem;
}

.terms__container p {
  flex: 1;
}

.terms__iframe-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.terms__tv-pics-text-container {
  display: flex;
  gap: 2rem;
}

.terms__tv-pics-media-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.terms__tv-pics-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  align-items: center;
  /* align-content: center;
  justify-content: center; */
  place-content: center;
  width: 600px;
}

.terms__tv-pics-container img {
  width: 100%;
}

@media only screen and (min-width: 1700px) {
  .terms__tv-pics-text-container {
    margin-top: 2rem;
  }

  .terms__tv-pics-text-container p {
    margin-block: 0;
  }
}

@media only screen and (max-width: 1400px) {
  .terms__eras-vid-container,
  .terms__tv-pics-text-container {
    flex-direction: column;
  }

  .terms__eras-vid-container iframe {
    align-self: center;
  }

  .terms__tv-pics-text-container {
    align-items: center;
    margin-bottom: 3rem;
  }

  .terms__tv-pics-text-container p {
    order: -1;
  }
}

@media only screen and (max-width: 750px) {
  .terms__tv-pics-container {
    width: 450px;
  }
}

@media only screen and (max-width: 500px) {
  .terms__tv-pics-container {
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .terms__tv-pics-container {
    width: 300px;
  }
}
