@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: RalphieTall;
  src: url("@/fonts/RalphieTall.otf") format("opentype");
}

@font-face {
  font-family: PistilliRoman;
  src: url("@/fonts/PistilliRoman.otf") format("opentype");
}

:root,
#root,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;

  --border-check: 1px solid black;

  --responsive-width: min(1600px, 100%);
  --container-padding: 1.5rem 3rem;
  --border-radius: 30px;

  /* TAYLOR SWIFT */
  --debut-green: #203e24;
  --debut-teal: #18a5bf;
  --debut-brown: #ae8c64;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app {
  /* transition: background 300ms ease-in-out; */
  /* width: clamp(300px, 100%, 2040px); is not added here because when the screen size becomes too big that the max-width of 2040px is reached, i need the .app to surpass it, allowing for a background color on the extra space on the sides. adding the property will limit .app to 2040px only. */
}

/* adding the first class to override styles */
.era-container-padding .media-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
}

iframe {
  border-radius: var(--border-radius);
  width: 560px;
  height: 315px;
}

@media only screen and (max-width: 750px) {
  iframe {
    width: 450px;
    height: 253.13px;
  }
}

@media only screen and (max-width: 500px) {
  iframe {
    width: 400px;
    height: 225px;
  }
}

@media only screen and (max-width: 450px) {
  /* this is to avoid white background color when screen size becomes too small that the min-width of 300px is reached, surpassing the default width of .app, causing white background. */
  .app {
    /* width: clamp(300px, 100%, 2040px);  */
    width: max(300px, 100%);
  }

  iframe {
    width: 300px;
    height: 168.75px;
  }
}

a {
  text-decoration: none;
}

.z-100 {
  z-index: 100;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #242427;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #48494e;
}

::-webkit-scrollbar-track:hover {
  background: #2a2b24;
}

/* UTILITY CLASSES */

.nowrap {
  white-space: nowrap;
}

.underline {
  text-decoration: underline;
}