.container {
  padding: 3rem 0;
}

.tracks-album-container {
  display: flex;
  gap: 6rem;
}

.tracks-title-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 3rem;
}

.album-tracks-h2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tracks-title-container h2 {
  font-weight: 500;
  letter-spacing: 1rem;
  margin-top: 0;
}

.album-tracks-container {
  display: grid;
  gap: 1rem;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-auto-rows: min-content;
  /* align-items: stretch; --> this is the default */
  align-content: space-between;
}

.track-info {
  background-color: rgba(0, 0, 0, 0.5);
  /* padding: 0.5rem 1rem; */
  border-radius: 15px;
  display: flex;
  /* align-items: center; */
  /* align-items: stretch; --> this is the default */
}

.track-info:hover {
  cursor: pointer;
  transition-duration: 250ms;
  transform: scale(1.1);
}

.track-info.currently-playing {
  background-color: transparent;
}

.track-number {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 15px 0 0 15px;
  display: flex;
  align-items: center;
}

.track {
  border: 1px solid white;
  border-radius: 0 15px 15px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 1rem;
  /* background-color: #ae8c64; */
}

.bonus-track-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.bonus-track-desc .track-info {
  margin-top: 0.8rem;
  align-self: flex-start;
  width: 270px;
}

.bonus-desc {
  flex-basis: 70%;
}

.bonus-desc p {
  margin: 0;
  font-size: 1rem;
  line-height: 2rem;
}

.album-iframe-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.album-iframe-container img {
  border-radius: var(--border-radius);
  width: 560px;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.album-iframe-container iframe {
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1400px) {
  .tracks-album-container {
    flex-direction: column;
  }

  .album-iframe-container {
    order: -1;
    text-align: center;
  }
}

@media only screen and (max-width: 750px) {
  .album-tracks-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .album-iframe-container img {
    width: 450px;
  }
}

@media only screen and (max-width: 500px) {
  .album-tracks-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .bonus-track-desc {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-top: 2rem;
  }

  .album-iframe-container img {
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .album-iframe-container img {
    width: 300px;
  }
}
